
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f2f2;
  color: #333;
}


.site-header {
    text-align: center;
  background-color: #0073e6;
  color: rgb(14, 14, 14);
  padding: 20px;
  border-bottom: 4px solid #005bb5;
}


.product-card {
  background-color: white;
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border: 2px solid #ddd;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.product-image {
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}


.product-details {
  flex: 1;
}

.product-title {
  font-size: 28px;
  color: #0073e6;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.product-price {
  font-size: 20px;
  margin-bottom: 20px;
}

.discounted-price {
  color: #ee0c0c;
  font-weight: bold;
  margin-right: 10px;
}

.old-price {
  text-decoration: line-through;
  color: hsl(299, 100%, 51%);
  display: inline;
}


.add-to-cart {
  background-color: #000000;
  color: rgb(12, 208, 107);
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #a14545;
}