
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}


.header {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 28px;
  
}


.product-container {
  background-color: white;
  width: 80%;
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.product-image {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}


.product-info {
  text-align:left;
}

.product-title {
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.product-price {
  font-size: 20px;
  margin-bottom: 20px;
}

.price-new {
  color: #186229;
  font-weight: bold;
  margin-right: 10px;
}

.price-old {
  text-decoration: line-through;
  color: #585757;
}


.cart-button {
  background-color: #0073e6;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 500px;
 
}

.cart-button:hover {
  background-color: #000000;
}